<h1>All Contacts</h1>

<%= link_to "Add New", "/contacts/new", :class => "btn btn-primary" %>

<div class="row">
  <table class="table table-striped">
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <% @contacts.each do |person| %>
    <tr>
      <td><a href="/contacts/<%= person.id %>"><%= person.first_name %></a>
      </td>
      <td><%= person.middle_name %></td>
      <td><%= person.last_name %></td>
      <td><%= person.email %></td>
      <td><%= person.phone_number %></td>
      <td><%= person.address %></td>
      <th><%= person.latitude %></th>
      <th><%= person.longitude %></th>
    </tr>
    <% end %>
  </table>
</div>
