<h1><%= @contact.full_name %>
</h1>

<p>
  <%= @contact.first_name %>
</p>
<p>
  <%= @contact.middle_name %>
</p>
<p>
  <%= @contact.last_name %>
</p>

<p>
  <%= @contact.email %>
</p>

<p>
  <%= @contact.japan_number %>
</p>

<p>
  <%= @contact.friendly_created_at %>
</p>

<%= link_to "Back", root_path %>

<a href="/contacts/<%= @contact.id %>/edit">Edit</a> |
<%= link_to "Delete", "/contacts/#{@contact.id}",  method: :delete %>
